/* General */
#container {
  border: 0px solid red;
  margin: 0px 100px;
}

#isb {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -59px;
  margin-top: -50px;
  height: 100px;
}

footer {
  position: fixed;
  bottom: 0;
  right: 0;
  border: 0px solid black;
  padding: 0 10px;
}


ul, li, .img {
  float: left;
}

li {
  list-style: none;
}

li a {
  text-decoration: none;
  color: black;
  font-family: courier;
  margin: 0 9px;
  padding: 2px;
}

li a:hover {
  background-color: black;
  color: white;
  padding: 2px;
}

/* Footer: Image Stuff */
.img {
  padding: 5px;
}

#img-twtr {
  margin-top: 7px;
}

#img-yt {
  margin-top: 2px;
}

.hide {
  display: none;
}

/* Blog & Stuff Page */
.notification-coming-soon {
  font-family: monospace;
  font-size: 15px;
}

.center {
  display: flex;
  flex-direction: column-reverse;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: center;
  align-items: center;
}
